
.itemCart{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
    
}

.productCart{
    text-align: center;
}

.checkOut{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}