.containerFooter{
        background-color: rgb(239, 239, 239);
        padding: 2%;
        margin-top: 10%;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
        justify-content: center;

        ul{
            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
            li{
                text-decoration: none;
                list-style: none;
            }
            
        }
    
}